
@{
    ViewBag.Title = "Table";
}

<h3 class="ui dividing header">
    Rezultatai
</h3>

<table class="ui celled padded table">
    <thead>
        <tr>
            <th>Lytis</th>
            <th>Tikimybė</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h2 class="ui center aligned header">@TempData["gender"]</h2>
            </td>
            <td class="single line">
                
            </td>
        </tr>
    </tbody>
</table>

